# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Summer Learning\Projects\DR project more - CV\Diabetic-Retinopathy-Classification-using-PCA-involved-CNN-models\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
